body {
	font-family: 'Kaushan Script', cursive;
	margin: 0;
	margin-top: 0;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
}

.topnav {
  z-index: 1000;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #a00b0b;
  }

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: #662121;
  color: #fff;
  border: none;
}

.topnav .icon {
  display: none;
}

button {
  background-color: #662121;
  border: none;
  height: 48px;
  width: 48px;
}

.fa {
	color: #fff;
}



@media screen and (max-width: 930px) {
	.topnav a {
		display: none;
	}
	.topnav button.icon {
		float: right;
		display: block;
	}

  .topnav.responsive {
  	position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#lettres {
	color: #ff0000;
}


#page-de-garde {
	min-height: 100vh;
	min-width: 100vw;
	background-image: url("1.jpg");
	background-size: cover;
	background-position: 50% 0%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.sommaire {
	min-width: 40vw;
	background-color: black;
	opacity: 0.7;
	text-align: center;
	padding: 1%;
}

.sommaire h2,h1 {
	font-weight: bold;
	color: #ffffff;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	border: solid white;
	padding: 1%;
}

h1>a:hover {
	border: solid #ff0000;
	padding: 1%;
}

h1 {
	font-size: 2.5em;
}

#premier-para {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#deuxieme-para {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#troisieme-para {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#moralite {
	min-height: 100vh;
	min-width: 100vw;
	padding-top: 2%;

}

.morale {
	margin: auto;
	text-align: justify;
	width: 60vw;
	margin-bottom: 5%;
}

#btn-changez-la-morale {
	font-family: 'Kaushan Script', cursive;
	width: 20vw;
	height: 72px;
	font-size: 1.3em;
	font-weight: bold;
	color: #ffffff;
	background-color: #a00b0b;
	padding: 1%;
	border: none;
	border-radius: 15px;
	margin-top: 2%;
	cursor: pointer;
}



.choix {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.centrer-texte {
	text-align: center;
	font-size: 1.4em;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 2%;
}

@media screen and (max-width: 900px) {
  #btn-changez-la-morale {
    width: 60vw;
  }
  .centrer-texte {
  	padding-top: 15%;
  }

  h1>a:hover {
  	border: none;
  }
 }

.prems{
	opacity: 0;
	transform: translate(300px);
}

.prems.active {
	transition: all 2s;
	opacity: 1;
	transform: translateY(0px);
	}

.deuse {
	opacity: 0;
	transform: translate(-300px);
}

.deuse.active {
	transition: all 2s;
	opacity: 1;
	transform: translateY(0px);
	}

.troise {
	opacity: 0;
	transform: translate(300px);
}

.troise.active {
	transition: all 2s;
	opacity: 1;
	transform: translateY(0px);
	}


#moralite a {
	font-size: 1.3em;
	color: black;
	margin-bottom: 10%;
	margin-top: 10%;
}

#moralite a:hover {
	border: solid black;
}

.divParent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transform: translate(-300px);
}

.divParent.active {
	transition: all 2s;
	opacity: 1;
	transform: translateY(0px);
}

.textarea {
	width: 60vw;
	height: 40vh;
	font-size: 1em;
	font-family: 'Kaushan Script', cursive;
	margin-bottom: 3%;
}

.btnMoraleValidation {
	font-family: 'Kaushan Script', cursive;
	width: 20vw;
	height: 72px;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	background-color: #a00b0b;
	padding: 1%;
	border-radius: 15px;
	cursor: pointer;
}
